{% extends "game/base.html" %}

{% block content %}
	<div style="height: 100vh;">
		<div class="logo-background" style="width: 100%; height: 100%;">
			<div style="display:table; height: 100%; margin: 0 auto;">
				<div class="align-center">
					<div align="center" class="content-section" style="background: #ffffffd9;">
						<div class="content-section-width" style="width: 70%;">
			
							<!-- Form -->
							<form method="POST">
								{% csrf_token %}
								
								<h1 align="right" style="font-size:18px;">Reset Password</h1>
								{% for field in form %}
									<div style="margin-bottom: 2px;">
										{{ field }}
									</div>
									{% if field.errors %}
										<div class="alert alert-warning" style="margin-bottom: 2px;">
											<ul style="padding-left: 20px;">
												<li>{{ field.errors.0 }}</li>
											</ul>
										</div>
									{% endif %}
								{% endfor %}
								
								<div align="right">
									<button class="button blue-hover" type="submit">Request Password Reset</button>
								</div>
							</form>
						</div>
						
						<div style="width: 45%; white-space: nowrap; overflow: hidden; margin-left: auto; margin-top: 6px;">
							<a class="button button-small red-hover" href="{% url 'login' %}">Go Back</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
