{% extends "game/base.html" %}

{% block content %}
	<div style="height: 100vh;">
		<div class="logo-background" style="width: 100%; height: 100%;">
			<div style="display:table; height: 100%; margin: 0 auto;">
				<div class="align-center">
					<div align="center" class="content-section" style="background: #ffffffd9;">
						<div class="content-section-width" style="width: 60%;">
			
							<!-- Form -->
							<form method="POST">
								{% csrf_token %}
								
								<h1 align="right" style="font-size:18px;">Reset Password</h1>
								<div align="left">
									{% for field in form %}
										<div style="margin-bottom: 2px; width: 105%">
											{{ field }}
										</div>
										{% if field.errors %}
											<div class="alert alert-warning" style="margin-bottom: 2px;">
												<ul style="padding-left: 20px;">
													<li>{{ field.errors.0 }}</li>
												</ul>
											</div>
										{% endif %}
									{% endfor %}
								</div>
								
								<div>
									<button class="button blue-hover" type="submit" style="margin-bottom: 2px;">Reset Password</button>
								</div>
								
								<div align="left" class="alert alert-info" style="margin-bottom: 2px;">
									<ul style="padding-left: 20px;">
										<li>Your password can't be too similar to your other personal information.</li>
										<li>Your password must contain at least 8 characters.</li>
										<li>Your password can't be a commonly used password.</li>
										<li>Your password can't be entirely numeric.</li>
									</ul>
								</div>
							</form>
				
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
